<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HomeZ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link  active" href="#">Proparty</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link  active" href="#">Service</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link active" href="#">Proudct</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">About Us</a>
          </li>

        </ul>
        <form class="d-flex">
          <button class="btn btn-dark" type="btn">Contact </button>
        </form>
      </div>
    </div>
  </nav>
  <hr>

  <div class="row">
    <div class="col">
      <div class="Multi-Chain">Multi-Chain
        Next Generation
        Platform
      </div>
      <br>
      <div>
        Buy and sell <span class="NFTs">NFTs</span> form world's top artists
      </div>
      <br>
      <div class="btnAndImg">
        <button type="button" class="btn btn-dark btn-lg">
          Get started
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
          </svg>
        </button>
        <img class="imgarrow" src="../assets/arrow.png" style="max-width:100%;height:auto;" />
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <svg xmlns="http://www.w3.org/2000/svg" id="SVGID" width="30" height="30" fill="currentColor"
                  class="bi bi-wallet2-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                </svg> &nbsp;&nbsp;Set up Wallet
              </h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur aditia.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <svg xmlns="http://www.w3.org/2000/svg" id="SVGID" width="30" height="30" fill="currentColor"
                  class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>&nbsp;&nbsp;Collection
              </h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur aditia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 responsive-image">
      <img class="mainImg" src="../assets/main.png" />

    </div>
  </div>
</div>



<div class="container-fluid me-auto mb-2 mb-lg-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navFooter">
    <div class="container">
      <div class="  row">
        <div class="col-sm-5">
          <br>
          <a id="ApText" class="navbar-brand">Aprodhium Exclusive Bundil </a>
          <p class="navbar-nav me-auto mb-2 mb-lg-0">
            <a id="mutedText" class="nav-link ">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry.
              Lorem
              Ipsum has been the industry's standard
              dummy text everDiscover</a>

          </p>

          <br>
          <button type="button" id="footerBtn" class="btn btn-primary">Discover Now </button>

          <button type="button" id="footerBtn2" class="btn btn-outline-primary">See other's</button>

        </div>
        <div class="col-3">
        </div>
        <div class="col-sm-4 me-auto mb-2 mb-lg-0">
          <div class="allImg">
            <span>

              <img class="Img1" src="../assets/click.png" />
              <svg id="SVGPlus" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
              </svg>
            </span>
            <img class="Img2" src="../assets/g1.png">
            <img class="Img3" src="../assets/b1.png">
            <img class="Img4" src="../assets/g2.png">
            <img class="Img5" src="../assets/g3.png">
          </div>
          <p class="par">800+ User Available Here </p>
        </div>
      </div>
    </div>

  </nav>
</div>
